.header-component {
  .x-wait-logo {
    width: 30%;
    height: 100%;

    @media screen and (min-width: 1024px) {
      width: 100px;
      height: 100%;
    }
  }
  .user-logo {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 100%;
  }
}

.user-menu {
  background: #f2f2f2;
  z-index: 10001;
}

.bookings-modal {
  .modal-header {
    background-color: #626cfe;
    color: #ffffff;
  }
  .tabs-pane {
    margin-top: 10px;
  }
}

.confirmation-details {
  .booking-card {
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;
    .cancel-booking {
      margin-right: 10px;
    }
  }

  .store-name {
    font-size: 18px;
    font-weight: bold;
  }

  .store-address {
    font-size: 12px;
    margin: 0 20px;
  }

  .booking-time {
    font-size: 16x;
    font-weight: bold;
  }

  .booking-id {
    font-weight: bold;
    font-size: 37px;
  }

  .booking-action {
    border-top: 1px solid black;
    padding-top: 10px;
  }
}
