.supermarket-logo {
  width: 60px;
}

.store-address {
  margin: 2px 15px;
}

.confirmation-show {
  &.modal-backdrop {
    opacity: 1 !important;
  }
  &.slot-selection-modal {
    opacity: 0.5;
  }
}

.slot-selection-modal {
  .modal-dialog {
    padding: 0;
    margin: 0;
    .modal-content {
      height: 100vh;
      width: 100vw;
      .modal-header {
        background-color: #626cfe;
        color: #ffffff;
        .modal-title {
          font-size: 16px;
        }
      }
      .modal-body {
        background: #e7e7e7;

        .slot-card {
          width: 90%;
          background: #fff;
          border-radius: 10px;
          overflow: scroll;
          padding: 20px;

          .super-market-details {
            .store-address {
              margin: 2px 15px;
              .super-market-name {
                font-size: 16px;
                font-weight: bold;
              }

              .super-market-location {
                font-size: 12px;
              }
            }
          }
          .date-picker {
            padding: 5px;
            .DatePicker_dateLabel__GO7dX {
              font-size: 12px;
            }
          }
          .slots-spread {
            margin: 10px 12.5%;
            button {
              margin: 10px;
              background: transparent;
              margin: 10px;
              border: 1px solid #ece9e9;
              background: transparent;
              color: #444343;
              border-top: 2px solid #626cfe;
              font-size: 14px;
              letter-spacing: 1.2px;
              font-weight: 600;
              padding: 5px 10px;
              min-width: 100px;
              position: relative;
              z-index: 1;
              &:disabled {
                background: #eee;
                pointer-events: none;
                border-top: 2px solid #d8cdcd;
              }

              .remaining-slots {
                font-size: 8px;
              }

              &:hover {
                color: #fff;
              }
              &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: scaleY(0);
                transform-origin: bottom center;
                background: #626cfe;
                z-index: -1;
                transition: transform 0.3s;
              }

              &:hover::after {
                transform: scaleY(1);
              }
            }
          }
        }
      }

      .modal-footer {
        display: none;
      }
    }
  }
}
.confirmation {
  z-index: 1500;
  width: 100%;
  background: #fff;
  transform: none !important;

  .confirmation-details {
    padding: 20px;
    .confirmation-heading {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .date-time {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .super-market-details {
    .store-address {
      .super-market-name {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .confirm-action {
    margin: 10px;
    button {
      width: 50%;
      border: 1px solid #eee;
      height: 40px;
      font-weight: bold;
      font-size: 14px;
      border-radius: 10px;
    }

    .cancel-btn {
      background: transparent;
      border: 1px solid #c7c7c7;
      border-radius: 5px;
    }

    .confirm-btn {
      background: #626cfe;
      color: #ffffff;
    }
  }
}
