.card-section {
  padding: 0;
  margin-bottom: 10px;

  .store-card {
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 0px !important;

    .card-heading {
      padding: 10px 15px;
      padding-bottom: 0px;

      .store-image {
        width: 100%;
      }

      .store-details {
        .store-name {
          color: #3b3e50;
        }

        .store-location {
          font-size: 12px;
          font-weight: bold;
          margin-bottom: 15px;
        }

        .store-stats {
          margin: 5px 0;
          font-size: 10px;
          span {
            margin-right: 10px;
          }
          .icons {
            width: 15px;
            height: 15px;
          }

          .store-timings {
            span {
              margin-left: 5px;
            }
          }
        }

        .store-description {
          font-size: 11px;
          border-top: 2px solid #f2f2f2;
          padding: 5px;
          margin: 10px 0 0 0;
          padding-left: 0;
        }
      }
    }

    .card-action {
      font-size: 12px;
      margin: 10px 0;
      .sponsored-section {
        background: #fcf4e4;
        padding: 5px 25px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      .booknow-section {
        margin-right: 20px;
        button {
          background: #626cfe;
          border: 1px solid #959595;
          padding: 5px 25px;
          border-radius: 5px;
          color: white;
          font-size: 12px;
          font-weight: bold;
          &:hover {
            color: #5063ad;
            background: white;
          }
        }
      }
    }
  }
}
