.home-page {
  .cards-section {
    padding: 5px;
  }
  .header-component {
    box-shadow: 0 4px 6px #eaeaea;
    margin-bottom: 30px;
  }
  .store-types {
    background-color: #626cfe;
    padding:40px 0;

    input {
      margin: 10px;
      border-radius: 5px;
      padding: 10px;
      min-width: 100%;
      margin: 0px 0 40px;
      border: none;
    }
    .store-image {
      width: 60px;
      height: 60px;
      background: #eee;
      border-radius: 100%;
    }

    .titles {
      color:#fff;
      margin-top: 10px;
      letter-spacing: 1.2px;
      font-size: 12px;
    }
  }
  .all-places {
    font-weight: bold;
  }
  .showPlaces {
    margin-top: 30px;
  }
}
